<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9e4ba">  <td>14/10/17 12:42:25</td>   <td>0</td> <td title="&gt;&gt;Utils.browserSetup()[pri:0, instance:com.selenium.jiraTicketCreateAndUpdate.createTicket@403ef810]">&gt;&gt;browserSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1313946977</td>   <td></td> </tr>
<tr bgcolor="9cb0f4">  <td>14/10/17 12:43:11</td>   <td>45419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="createTicket.createTicket()[pri:0, instance:com.selenium.jiraTicketCreateAndUpdate.createTicket@403ef810]">createTicket</td> 
  <td>main@1313946977</td>   <td></td> </tr>
<tr bgcolor="b9e4ba">  <td>14/10/17 12:42:29</td>   <td>4150</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Utils.setUp()[pri:0, instance:com.selenium.jiraTicketCreateAndUpdate.createTicket@403ef810]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1313946977</td>   <td></td> </tr>
</table>
